In [1]:
"""
(1)

Values: 'hello', -87.8, 6

Expressions: *, -, /, +


"""

"\n(1)\n\nValues: 'hello', -87.8, 6\n\nExpressions: *, -, /, +\n\n\n"

In [2]:
"""
(2)

A variable is just the name that is a reference to an object and can be reassigned to other objects as well whereas a String is a 
sequence of characters which are immutable in nature.


"""

'\n(2)\n\nA variable is just the name that is a reference to an object and can be reassigned to other objects as well whereas a String is a \nsequence of characters which are immutable in nature.\n\n\n'

In [3]:
"""
(3) 

Three different data types:

Numeric - these are number based data types that include floats, integers, complex numbers. 
Sring - Strings are a sequence of characters which as immutable in nature.
Boolean - these refer to true and false states

"""

'\n(3) \n\nThree different data types:\n\nNumeric - these are number based data types that include floats, integers, complex numbers. \nSring - Strings are a sequence of characters which as immutable in nature.\nBoolean - these refer to true and false states\n\n'

In [4]:
"""
(4)
An expression can be made up of operators, values, values etc.

Expressions evaluate to a result.

"""

'\n(4)\nAn expression can be made up of operators, values, values etc.\n\nExpressions evaluate to a result.\n\n'

In [5]:
"""
(5)

An expression always evaluates to a result whereas a statement is a command or action that does something (for instance, the print() statement gives a command to print a new line).


"""

'\n(5)\n\nAn expression always evaluates to a result whereas a statement is a command or action that does something (for instance, the print() statement gives a command to print a new line).\n\n\n'

In [6]:
"""
(6)

Since we are only adding 1 to bacon and not incrementing or reassigning, the variable bacon will still contain 22 as per the initial statement.

"""

'\n(6)\n\nSince we are only adding 1 to bacon and not incrementing or reassigning, the variable bacon will still contain 22 as per the initial statement.\n\n'

In [7]:
"""
(7)

Both terms give the following value:
'spamspamspam'

"""

"\n(7)\n\nBoth terms give the following value:\n'spamspamspam'\n\n"

In [8]:
"""
(8)

In python, variables names can be alphanumeric as long as the first character is not a number and in our case, eggs is perfectly
acceptable whereas 100 is all numeric and therefore unacceptable as it starts with a number. 

To fix the same, even prefixing a single character would make it an acceptable variable name such as n100 etc.


"""

'\n(8)\n\nIn python, variables names can be alphanumeric as long as the first character is not a number and in our case, eggs is perfectly\nacceptable whereas 100 is all numeric and therefore unacceptable as it starts with a number. \n\nTo fix the same, even prefixing a single character would make it an acceptable variable name such as n100 etc.\n\n\n'

In [9]:
"""
(9)

The  int(), float(), and str() functions.


"""

'\n(9)\n\nThe  int(), float(), and str() functions.\n\n\n'

In [10]:
"""
(10)

The expression causes an error as it tries to concatenate an integer value (99) but we can only concatenate string values.

To fix the expression we can cast 99 as a string, as follows:

'I have eaten ' + str(99) + ' burritos'

"""

"\n(10)\n\nThe expression causes an error as it tries to concatenate an integer value (99) but we can only concatenate string values.\n\nTo fix the expression we can cast 99 as a string, as follows:\n\n'I have eaten ' + str(99) + ' burritos'\n\n"